/* App rules */
body {
  color           : var(--l-main-fg-color);
  background-color: var(--l-main-bg-color);
}

.c-btn {
  cursor       : var(--c-btn-cursor);
  font-size    : var(--c-btn-font-size);
  font-weight  : var(--c-btn-font-weight);
  padding      : var(--c-btn-pad-vertical) var(--c-btn-pad-horizontal);
  margin       : var(--c-btn-margin);
  border-radius: var(--c-btn-border-radius);
  transition   : var(--c-btn-transition-color);
}

.c-btn-primary {
  border          : var(--c-btn-primary-border-size);
  border-color    : var(--c-btn-primary-border-color);
  background-color: var(--c-btn-primary-bg-color);
  color           : var(--c-btn-primary-fg-color);
}
.c-btn-primary:hover {
  background-color: var(--c-btn-primary-bg-color--hover);
  color           : var(--c-btn-primary-fg-color--hover);
}

.c-btn-secondary {
  border          : var(--c-btn-secondary-border-size);
  border-color    : var(--c-btn-secondary-border-color);
  background-color: var(--c-btn-secondary-bg-color);
  color           : var(--c-btn-secondary-fg-color);
}
.c-btn-secondary:hover {
  background-color: var(--c-btn-secondary-bg-color--hover);
  color           : var(--c-btn-secondary-fg-color--hover);
}