/* Colors seeded from extra.css in arxiv-docs */
:root {
  /*arXiv brand colors*/
  --arxiv-brand-color-access-lime     : #c4d82e;
  --arxiv-brand-color-archival-blue   : #1f5e96;
  --arxiv-brand-color-cool-wash       : #f7fafc;
  --arxiv-brand-color-cornell-red     : #b31b1b;
  --arxiv-brand-color-library-grey    : #6b6459;
  --arxiv-brand-color-links           : #1e8bc3;
  --arxiv-brand-color-open-blue-dark  : #688ED9;
  --arxiv-brand-color-open-blue-darker: #787CDD;
  --arxiv-brand-color-open-blue       : #a5d6fe;
  --arxiv-brand-color-publishing-pink : #fb595a;
  --arxiv-brand-color-warm-wash       : #f9f7f7;
  --arxiv-brand-color-canvas-white    : #ffffff;
  --arxiv-brand-color-repository-brown: #1c1a17;
  /* arXiv border sizes */
  --arxiv-border-muted: none;
  --arxiv-border-thin : solid 1px;
  /* arXiv transitions */
  --arxiv-transition-fast-bg-color: background-color 0.3s;
  /* arxiv spacing, padding */
  --arxiv-pad    : 0.25rem;
  --arxiv-xs-pad : var(--arxiv-pad);
  --arxiv-s-pad  : calc(1.5 * var(--arxiv-pad));
  --arxiv-m-pad  : calc(3 * var(--arxiv-pad));
  --arxiv-l-pad  : calc(4 * var(--arxiv-pad));
  --arxiv-xl-pad : calc(8 * var(--arxiv-pad));
  --arxiv-xxl-pad: calc(16 * var(--arxiv-pad));
  /* arxiv spacing, fonts */
  --arxiv-font-base-size    : 1rem;
  --arxiv-font-weight-normal: normal;
  --arxiv-font-weight-bold  : bold;
  --arxiv-font-weight-italic: italic;
  /* cursor state, other browser states */
  --arxiv-cursor-mouse-over: pointer;
}