:root {
  --c-btn-primary-bg-color       : var(--arxiv-sys-color-primary);
  --c-btn-primary-fg-color       : var(--arxiv-sys-color-stroke-on-primary);
  --c-btn-primary-bg-color--hover: var(--arxiv-sys-color-primary--invert);
  --c-btn-primary-fg-color--hover: var(--arxiv-sys-color-stroke-on-primary--invert);
  --c-btn-primary-border-color   : var(--arxiv-sys-color-primary-border);
  --c-btn-primary-border-size    : var(--arxiv-sys-primary-border-size);

  --c-btn-secondary-bg-color       : var(--arxiv-sys-color-secondary);
  --c-btn-secondary-fg-color       : var(--arxiv-sys-color-stroke-on-secondary);
  --c-btn-secondary-bg-color--hover: var(--arxiv-sys-color-secondary--invert);
  --c-btn-secondary-fg-color--hover: var(--arxiv-sys-color-stroke-on-secondary--invert);
  --c-btn-secondary-border-color   : var(--arxiv-sys-color-secondary-border);
  --c-btn-secondary-border-size    : var(--arxiv-sys-secondary-border-size);
  
  --c-btn-transition-color: var(--arxiv-sys-transition-color);

  --c-btn-cursor        : var(--arxiv-sys-cursor-mouse-over);
  --c-btn-font-size     : var(--arxiv-sys-font-text-size);
  --c-btn-font-weight   : var(--arxiv-sys-font-weight-bold);
  --c-btn-pad-vertical  : var(--arxiv-sys-pad-light);
  --c-btn-pad-horizontal: var(--arxiv-sys-pad-medium);
  --c-btn-margin        : var(--arxiv-sys-pad-min);
  --c-btn-border-radius : var(--arxiv-sys-pad-min);

  --l-main-fg-color: var(--arxiv-sys-color-main-foreground);
  --l-main-bg-color: var(--arxiv-sys-color-main-background);

}