:root {
  --arxiv-sys-color-main-foreground: var(--arxiv-brand-color-repository-brown);
  --arxiv-sys-color-main-background: var(--arxiv-brand-color-canvas-white);

  --arxiv-sys-color-primary                  : var(--arxiv-brand-color-archival-blue);
  --arxiv-sys-color-primary--invert          : var(--arxiv-brand-color-open-blue);
  --arxiv-sys-color-stroke-on-primary        : var(--arxiv-brand-color-cool-wash);
  --arxiv-sys-color-stroke-on-primary--invert: var(--arxiv-brand-color-repository-brown);
  --arxiv-sys-primary-border-size            : var(--arxiv-border-muted);
  
  --arxiv-sys-color-secondary                  : var(--arxiv-brand-color-cool-wash);
  --arxiv-sys-color-secondary--invert          : var(--arxiv-brand-color-open-blue);
  --arxiv-sys-color-stroke-on-secondary        : var(--arxiv-brand-color-links);
  --arxiv-sys-color-stroke-on-secondary--invert: var(--arxiv-brand-color-repository-brown);
  --arxiv-sys-color-secondary-border           : var(--arxiv-brand-color-archival-blue);
  --arxiv-sys-secondary-border-size            : var(--arxiv-border-thin);

  --arxiv-sys-transition-color: var(--arxiv-transition-fast-bg-color);
  --arxiv-sys-font-text-size  : var(--arxiv-font-base-size);
  --arxiv-sys-font-weight-bold: var(--arxiv-font-weight-bold);
  
  --arxiv-sys-pad-min   : var(--arxiv-pad);
  --arxiv-sys-pad-light : var(--arxiv-s-pad);
  --arxiv-sys-pad-medium: var(--arxiv-m-pad);

  --arxiv-sys-cursor-mouse-over: var(--arxiv-cursor-mouse-over);
}